:root{
    --clr-body: #111827;

    --clr-intro-sec: #3A69D2;

    --clr-services-sec: #1F2937;
    
    --clr-service-btn: #D1D4F4;

    --clr-send-btn: #3A69D2;

    --clr-head-txt: #ffff;

    --clr-main-txt-notes: #F5F5F5;

    --clr-sub-txt: #D5D4D8;

    --clr-divider-line: #C3C6DB;

    --clr-btn-txt: #4A4E74;

    --bs-shadow: 3px 6px 6px -3px black;

    --fs-small-txt: 15px;

    --fs-main-txt: 30px;
}


body{
    padding: 0;
    margin: 1em;
    background-color: #d1d5db;
}

h1,
p{
    margin: 0.5em 0;
}

button{
    cursor: pointer;
}

.small{
    font-size: var(--fs-small-txt);
    color: var(--clr-sub-txt);
}

.big{
    font-size: var(--fs-main-txt);
    color: var(--clr-main-txt-notes);
}

.main-body{
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--clr-body);
    height: 700px;
    width: 500px;
    border-radius: 1em;
    /* margin: 0 5em; */
    padding: 1em;
    color: white;
    box-shadow: var(--bs-shadow);
}

.introduction{
    background-color: var(--clr-intro-sec);
    text-align: center;
    border-radius: 1em;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.items{
    height: 100px;
    /* margin: 1em 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-btn{
    background-color: var(--clr-service-btn);
    color: var(--clr-btn-txt);
    padding: 0.5em;
    cursor: pointer;
}

.invoice-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}

.invoice-items{
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.invoice-content{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    border-top: 2px solid var(--clr-divider-line);
    text-align: justify;
    margin-bottom: 0.5em;
}

#total{
    text-align: right;
}

#invoice-total{
    text-align: right;
    font-size: var(--fs-main-txt);
}

.send-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.btn{
    width: 300px;
    background-color: var(--clr-send-btn);
    color: var(--clr-sub-txt);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-size: var(--clr-head-txt);
    padding: 0.3em;
    border: none;
    border-radius: 1em;
}